workflows/workflow17_modal_mcp_python.json
{
  "name": "WF17: Modal MCP Python Sandbox Execution",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "modal-python-execute",
        "options": {
          "binaryData": true,
          "ignoreBots": false
        }
      },
      "id": "webhook-python-sandbox",
      "name": "Python Execution Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [300, 300],
      "webhookId": "modal-python-execute"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "request_id",
              "name": "request_id",
              "value": "={{ $uuid() }}",
              "type": "string"
            },
            {
              "id": "received_at",
              "name": "received_at",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "code",
              "name": "code",
              "value": "={{ $json.body.code || $json.code }}",
              "type": "string"
            },
            {
              "id": "requirements",
              "name": "requirements",
              "value": "={{ $json.body.requirements || $json.requirements || [] }}",
              "type": "object"
            },
            {
              "id": "python_version",
              "name": "python_version",
              "value": "={{ $json.body.python_version || $json.python_version || '3.13' }}",
              "type": "string"
            },
            {
              "id": "mount_directory",
              "name": "mount_directory",
              "value": "={{ $json.body.mount_directory || $json.mount_directory || null }}",
              "type": "string"
            },
            {
              "id": "pull_files",
              "name": "pull_files",
              "value": "={{ $json.body.pull_files || $json.pull_files || [] }}",
              "type": "object"
            }
          ]
        }
      },
      "id": "extract-request-data",
      "name": "Extract Request Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [540, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "code_validation",
              "leftValue": "={{ $json.code }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEqual",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [780, 300]
    },
    {
      "parameters": {
        "url": "http://modal-mcp-integration:8000/api/v1/python/execute",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Request-ID",
              "value": "={{ $json.request_id }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "code",
              "value": "={{ $json.code }}"
            },
            {
              "name": "requirements",
              "value": "={{ $json.requirements }}"
            },
            {
              "name": "python_version",
              "value": "={{ $json.python_version }}"
            },
            {
              "name": "mount_directory",
              "value": "={{ $json.mount_directory }}"
            },
            {
              "name": "pull_files",
              "value": "={{ $json.pull_files }}"
            }
          ]
        },
        "options": {
          "timeout": 300000,
          "retry": {
            "enabled": true,
            "maxTries": 3
          }
        }
      },
      "id": "call-modal-mcp-api",
      "name": "Call Modal MCP API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1020, 220]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error_response",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "error_message",
              "name": "error",
              "value": "Missing required field: code",
              "type": "string"
            },
            {
              "id": "request_id",
              "name": "request_id",
              "value": "={{ $json.request_id }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "error-invalid-input",
      "name": "Error: Invalid Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1020, 380]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": "={{ $json.success }}",
              "type": "boolean"
            },
            {
              "id": "request_id",
              "name": "request_id",
              "value": "={{ $('Extract Request Data').item.json.request_id }}",
              "type": "string"
            },
            {
              "id": "execution_id",
              "name": "execution_id",
              "value": "={{ $json.execution_id }}",
              "type": "string"
            },
            {
              "id": "output",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "error",
              "name": "error",
              "value": "={{ $json.error || null }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            },
            {
              "id": "metadata",
              "name": "metadata",
              "value": "={{ $json.metadata }}",
              "type": "object"
            },
            {
              "id": "webhook_url",
              "name": "webhook_url",
              "value": "={{ $('Python Execution Webhook').item.json.headers.host }}/webhook/modal-python-execute",
              "type": "string"
            }
          ]
        }
      },
      "id": "format-success-response",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1260, 220]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "request_id",
              "name": "request_id",
              "value": "={{ $('Extract Request Data').item.json.request_id }}",
              "type": "string"
            },
            {
              "id": "error",
              "name": "error",
              "value": "API call failed: {{ $json.message || $json.error || 'Unknown error' }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "status_code",
              "name": "status_code",
              "value": "={{ $json.statusCode || 500 }}",
              "type": "number"
            }
          ]
        }
      },
      "id": "format-error-response",
      "name": "Format Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1260, 380]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.success === true ? 200 : ($json.status_code || 400) }}"
        }
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "merge-responses",
      "name": "Merge Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1380, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Python Execution Webhook": {
      "main": [
        [
          {
            "node": "Extract Request Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Request Data": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Call Modal MCP API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Invalid Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Modal MCP API": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error: Invalid Input": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Responses": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-20T10:00:00.000Z",
      "updatedAt": "2024-01-20T10:00:00.000Z",
      "id": "modal-mcp",
      "name": "Modal MCP"
    },
    {
      "createdAt": "2024-01-20T10:00:00.000Z",
      "updatedAt": "2024-01-20T10:00:00.000Z",
      "id": "python-sandbox",
      "name": "Python Sandbox"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-23T10:00:00.000Z",
  "versionId": "1"
}